* {
  font-family: JetBrainsMono;
  color: #e5e9f0;
  background: transparent;
}

#window {
  background-color: rgba(29, 32, 33, 0.9);
  margin: auto;
  padding: 10px;
  border-radius: 3px;
  border: 2px solid #33ccff;
}

#input {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
  background-color: rgba(46, 52, 64, 0.3);
  /*border: 2px solid #33ccff;*/

}

#outer-box {
  padding: 20px;
}

#img {
  margin-right: 6px;
}

#entry {
  padding: 10px;
  border-radius: 3px;
}

#entry:selected {
  background-color: rgba(46, 52, 64, 0.3);
  /*border: 1px solid #ffffff;*/
}

#text {
  margin: 2px;
}
